@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url(../fonts/SFProDisplay-Regular.eot) format('embedded-opentype'),
    url(../fonts/SFProDisplay-Regular.woff) format('woff'),
    url(../fonts/SFProDisplay-Regular.woff2) format('woff2'),
    url(../fonts/SFProDisplay-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SFProText-Regular';
  src: url(../fonts/SFProText-Regular.eot) format('embedded-opentype'),
    url(../fonts/SFProText-Regular.woff) format('woff'),
    url(../fonts/SFProText-Regular.woff2) format('woff2'),
    url(../fonts/SFProText-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
