.header {
  width: 1440px;
  min-height: 204px;
  margin: 0 auto;
  margin-top: 12px;

  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

//======================================= HEADER TOP
.header-top {
  background-color: #fed600;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding-left: 18px;
  padding-right: 20px;

  .header-top__wrapper {
    width: 1214px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 32px;
  }
}

.header-top__info {
  display: flex;
  align-items: center;

  div {
    margin-right: 20px;
  }
}

.header-top__contacts {
  display: flex;
  align-items: center;

  div {
    margin-left: 36px;

    img {
      margin-right: 19px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

//======================================= HEADER MIDDLE UPPER
.header-middle-u__wrapper {
  margin: 0 auto;
  width: 1214px;
}

.header-middle-u {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.header-middle-u__face {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: 16px;
}

.motto {
  width: 133px;
  height: 36px;

  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  span {
    color: #f60007;
  }
}

.header-middle-u__yamarket {
  width: 105px;
  height: 60px;
  text-align: center;

  padding-top: 5px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);

  img {
    border-radius: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}

.header-middle-u__searchbar {
  width: 521px;
  display: flex;
  align-items: center;
  margin-left: 32px;

  input[type='text'] {
    width: 100%;
    height: 44px;
    text-indent: 16px;

    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 4px;
  }
  input[type='submit'] {
    width: 75px;
    height: 36px;
    margin-left: -79px;

    background-color: #fff;
    border: 2px solid #d2001c;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
      background-color: #d2001c;
      color: #fff;
      transition-duration: 0.2s;
    }
  }
}

.header-middle-u__log {
  display: flex;
  position: relative;
  margin-left: 36px;

  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #222222;

  a {
    padding-left: 10px;
    text-decoration: none;

    &:hover {
      color: #d2001c;
      transition-duration: 0.2s;
    }
  }

  &::before {
    content: '';
    display: block;
    background: url(../img/icons/log_part2.png) no-repeat left center;
    height: 18px;
    width: 13px;

    position: absolute;
    left: -15px;
  }
  &::after {
    content: '';
    display: block;
    background: url(../img/icons/log_part1.png) no-repeat left center;
    height: 8px;
    width: 14px;

    position: absolute;
    left: -20px;
    top: 5px;
  }
}

.header-middle-u__bin {
  button {
    position: relative;
    background: #d2001c url(../img/icons/bin.svg) no-repeat 15% 45%;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 160px;
    height: 36px;
    padding-left: 45px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      background: #fff;
      border-radius: 50%;
      width: 3px;
      height: 3px;
      top: 26px;
      left: 28px;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      background: #fff;
      border-radius: 50%;
      width: 3px;
      height: 3px;
      top: 26px;
      left: 34px;
    }
  }
}

//======================================= HEADER MIDDLE LOWER
.header-middle-l {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;

  a {
    color: #000;
    text-decoration: none;
    padding-bottom: 22px;
  }
}

//======================================= HEADER BOTTOM
.header-bottom {
  border-top: 1px solid #bdbdbd;
  height: 61px;
  padding-left: 18px;
  padding-right: 20px;

  font-family: Open Sans;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.header-bottom__wrapper {
  width: 1214px;
  display: flex;
  margin: 0 auto;
  padding-top: 21px;
  justify-content: space-between;

  div:hover {
    cursor: pointer;
  }
  div {
    display: flex;
    align-items: center;
  }
  div::after {
    content: '';
    background: url(../img/arrow_down.svg) no-repeat center right;
    display: block;
    width: 10px;
    height: 6px;
    margin-left: 5px;
  }
}
